<!DOCTYPE html>
<html>
  <head>
    <title>Stock Price Checker | al-script x freeCodeCamp.org</title>
    <link
      id="favicon"
      rel="icon"
      href="/public/favicon.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="/public/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <!-- Bootstrap -->
    <script
      src="/public/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <div>
      <!-- Top navbar -->
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a
            class="navbar-brand"
            href="https://github.com/al-script/"
            target="_blank"
            rel="noopener noreferrer"
            ><div class="display-5">AS al-script</div></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="https://fcc-infosec-stock-price-checkr-b5183c41e765.herokuapp.com/"
                  target="_top"
                  rel="noopener noreferrer"
                  >Stock Price Checker</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://fcc-infosec-messageboard-9cb1ee08f176.herokuapp.com/"
                  target="_top"
                  rel="noopener noreferrer"
                  >Anonymous Message Board</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://Port-Scanner-freeCodeCamp.al-script.repl.co"
                  target="_top"
                  rel="noopener noreferrer"
                  >Port Scanner</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://SHA-1-Password-Cracker-freeCodeCamp.al-script.repl.co"
                  target="_top"
                  rel="noopener noreferrer"
                  >SHA-1 Password Cracker</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://fcc-infosec-multiplayer-game-a3c7732047ab.herokuapp.com/"
                  target="_top"
                  rel="noopener noreferrer"
                  >Secure Real Time Multiplayer Game</a
                >
              </li>
            </ul>
            <span class="navbar-text">
              <a
                class="navbar-text"
                href="https://www.freecodecamp.org/learn/information-security/#information-security-projects"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/fcc_secondary_large.svg"
                  alt=""
                  width="218.75"
                  height="25"
                  class="d-inline align-text-top"
                />
              </a>
              <a
                class="nav-link"
                href="https://www.freecodecamp.org/learn/information-security/#information-security-projects"
                target="_blank"
                rel="noopener noreferrer"
                >Information Security Projects</a
              >
            </span>
          </div>
        </div>
      </nav>

      <!-- Responsive container -->
      <div class="d-flex min-vh-100">
        <div class="container d-flex align-items-center justify-content-center">
          <div class="col-12 p-3">
            <div class="row p-3">
              <div class="display-1 title">Nasdaq Stock Price Checker</div>

              <div class="card shadow p-1 gy-3">
                <div class="card-body">
                  <div id="userstories">
                    <h2>Example usage:</h2>
                    <code>/api/stock-prices?stock=GOOG</code>
                    <br />
                    <code>/api/stock-prices?stock=GOOG&amp;like=true</code>
                    <br />
                    <code>/api/stock-prices?stock=GOOG&amp;stock=MSFT</code>
                    <br />
                    <code
                      >/api/stock-prices?stock=GOOG&amp;stock=MSFT&amp;like=true</code
                    >
                    <br />
                    <h3>Example return:</h3>
                    <code
                      >{"stockData":{"stock":"GOOG","price":786.90,"likes":1}}</code
                    >
                    <br />
                    <code>
                      {"stockData":[{"stock":"MSFT","price":62.30,"rel_likes":-1},{"stock":"GOOG","price":786.90,"rel_likes":1}]}
                    </code>
                  </div>
                </div>
              </div>

              <div class="card shadow p-1 gy-3">
                <div class="card-body">
                  <div id="testui">
                    <h2 class="text-align-left">Front-End:</h2>

                    <h3>Get single price and total likes</h3>
                    <form
                      id="testForm2"
                      class="row row-cols-lg-auto g-3 align-items-center justify-content-center"
                    >
                      <div class="col-12">
                        <input
                          class="form-control"
                          type="text"
                          name="stock"
                          placeholder="GOOG"
                          required=""
                        />
                      </div>
                      <div class="col-12">
                        <input type="checkbox" name="like" value="true" /> Like?
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">
                          Get Price!
                        </button>
                      </div>
                    </form>

                    <hr class="border border-light border-3 opacity-25" />

                    <h3>Compare and get relative likes</h3>
                    <form
                      id="testForm"
                      class="row row-cols-lg-auto g-3 align-items-center justify-content-center mb-3"
                    >
                      <div class="col-12">
                        <input
                          class="form-control"
                          type="text"
                          name="stock"
                          placeholder="GOOG"
                          required=""
                        />
                      </div>
                      <div class="col-12">
                        <input
                          class="form-control"
                          type="text"
                          name="stock"
                          placeholder="MSFT"
                          required=""
                        />
                      </div>
                      <div class="col-12">
                        <input
                          class="form-control-input"
                          type="checkbox"
                          name="like"
                          value="true"
                          id="likeboth"
                        />
                        <label class="form-control-label" for="likeboth"
                          >Like both?</label
                        >
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary mb-1" type="submit">
                          Get Price!
                        </button>
                      </div>
                    </form>

                    <code id="jsonResult"></code>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <nav class="navbar bg-light shadow-sm">
        <div class="container-fluid">
          <a
            class="navbar-brand display-6"
            href="https://github.com/al-script/"
            target="_blank"
            rel="noopener noreferrer"
            >al-script x freeCodeCamp</a
          >
          <span class="navbar-text">
            <a class="navbar-brand display-6 d-inline align-text-center"
              >Built with</a
            >
            <a
              class="navbar-brand"
              href="https://nodejs.org/en/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/assets/nodejs-logo-FBE122E377-seeklogo.com.png"
                alt="Node.js"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>
            <a
              class="navbar-brand"
              href="https://expressjs.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/assets/136-1363736_express-js-icon-png-transparent-png.png"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>
            <a
              class="navbar-brand"
              href="https://www.mongodb.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/assets/mongodb.svg"
                alt="MongoDB"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>

            <!--             <a
              class="navbar-brand"
              href="https://mochajs.org"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mocha_logo.svg/1200px-Mocha_logo.svg.png"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a> -->
            <a
              class="navbar-brand"
              href="https://www.chaijs.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/assets/chai-logo-small.png"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>

            <a
              class="navbar-brand"
              href="https://getbootstrap.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/assets/bootstrap-logo.svg"
                alt="Bootstrap"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>
          </span>
        </div>
      </nav>

      <script src="/public/scripts.js"></script>
    </div>
  </body>
</html>
