/****** Main Styling ******/

body {
  background-color: #a9b4c2;
  text-align: center;
}

.title {
  color: black;
}

.display-5 {
  font-size: 2rem;
}

.display-6 {
  font-size: 1.5rem;
  text-decoration: none;
}

.card {
  border: none;
  background-color: white;
}

h3 {
  margin-top: 15px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

a {
  color: #2574a9;
}
